# Lecture-9 Lists

A list is an ordered collection of elements

### List values

In [1]:
# lists
fruits = ['apple', 'orange', 'mango'] 
chars = ['a', 'b', 'c', 'd']
salary = [1000, 3000, 5000]

# mixed list
student = [1001, 'Rex', 'Trichy']

# nested list
student_marks = [1001, 'Rex', [90, 85, 85], 'Trichy']

In [2]:
print(fruits, chars, salary, student)

['apple', 'orange', 'mango'] ['a', 'b', 'c', 'd'] [1000, 3000, 5000] [1001, 'Rex', 'Trichy']

### Index to access elements

In [3]:
print(salary[1]) # index position = 1

3000

In [4]:
# traverse list
for char in chars:
    print(char)

a
b
c
d

In [5]:
# print length of list
print(len(chars))

4

In [6]:
# traverse nested list
for stud in student_marks:
    print(stud)

1001
Rex
[90, 85, 85]
Trichy

Count students studying a particular subject

In [7]:
students_list = [
    ("John", ["CompSci", "Physics"]),
    ("Vusi", ["Maths", "CompSci", "Stats"]),
    ("Jess", ["CompSci", "Accounting", "Economics", "Management"]),
    ("Sarah", ["InfSys", "Accounting", "Economics", "CommLaw"]),
    ("Zuki", ["Sociology", "Economics", "Law", "Stats", "Music"])]

In [8]:
# How many courses each student takes?
for name, subjects in students_list:
    print(name, "takes", len(subjects), "courses")

John takes 2 courses
Vusi takes 3 courses
Jess takes 4 courses
Sarah takes 4 courses
Zuki takes 5 courses

In [9]:
# How many students study 'CompSci'?

count = 0
for name, sub in students_list:  # unpack
    
    if 'CompSci' in sub:
        count += 1
        
print(count)

3

In [10]:
# How many students study 'Accounting'?

#### List is mutable, you can modify

In [11]:
fruits = ['apple', 'orange', 'mango']
fruits[2] = 'Jack fruit'
print(fruits)

['apple', 'orange', 'Jack fruit']

In [12]:
fruits[-1:-1] = ['graphs'] # add element
print(fruits)

['apple', 'orange', 'graphs', 'Jack fruit']

### List concatenation and repetition

In [13]:
lst1 = [1,2,3]
lst2 = [10, 20, 30]

In [14]:
print(lst1 + lst2)

[1, 2, 3, 10, 20, 30]

In [15]:
print(lst1 * 2)

[1, 2, 3, 1, 2, 3]

### Slice list

In [16]:
a_list = ["a", "b", "c", "d", "e", "f"]
print(a_list[1:3])

['b', 'c']

In [17]:
print(a_list[:4])

['a', 'b', 'c', 'd']

In [18]:
print( a_list[3:])

['d', 'e', 'f']

In [19]:
print(a_list[:])

['a', 'b', 'c', 'd', 'e', 'f']

In [20]:
print(a_list[-1])

f

### Aliasing and cloning

In [21]:
a = [1,2,3]
b = a # a and b point to same object
print(b)

[1, 2, 3]

In [22]:
#clone, get separate copy
a = [2,3,4]
b = a[:]
print(b)

[2, 3, 4]

In [23]:
# you can change b
b[0] = 2000
print(a)
print(b)

[2, 3, 4]
[2000, 3, 4]

## List methods

In [24]:
# look at all list methods
#help(list)

Important Methods: append(), insert(), extend(), reverse(), sort(), count(), remove(), index(), pop()

In [25]:
# Provide examples
mylist = []
mylist.append(10)
mylist.append(20)
print(mylist)

[10, 20]

In [26]:
mylist.insert(1, 30)
print(mylist)

[10, 30, 20]

In [27]:
lst = [40, 50, 50]
mylist.extend(lst)
print(mylist)

[10, 30, 20, 40, 50, 50]

In [28]:
mylist.reverse()
print(mylist)

[50, 50, 40, 20, 30, 10]

In [29]:
mylist.sort()
print(mylist)

[10, 20, 30, 40, 50, 50]

In [30]:
print(mylist.count(50))

2

In [31]:
print(mylist.index(40))

3

In [32]:
mylist.remove(20)
print(mylist)

[10, 30, 40, 50, 50]

In [33]:
mylist.remove(50) # removes first occurrence
print(mylist)

[10, 30, 40, 50]

In [34]:
popped = mylist.pop()
print(popped)
print(mylist)

50
[10, 30, 40]

In [35]:
popped2 = mylist.pop(1)
print(popped2)
print(mylist)

30
[10, 40]

Difference between del and pop: del does not return element whereas pop returns the removed element

In [36]:
mylist = [10,20,30,40,50]
del mylist[2]
print(mylist)

[10, 20, 40, 50]

In [37]:
del mylist[1:3]
print(mylist)

[10, 50]

### split() produces list of substrings

In [38]:
text = 'Rain rain go away, I am from spain'
print(text.split())

['Rain', 'rain', 'go', 'away,', 'I', 'am', 'from', 'spain']

In [39]:
print(text.split('ai')) # delimiter 'ai'

['R', 'n r', 'n go away, I am from sp', 'n']

In [40]:
tokens = text.split('ai')
for token in tokens:
    print(token)

R
n r
n go away, I am from sp
n

### join() - inverse of split()

In [41]:
text = 'Rain rain go away, I am from spain'
tokens = text.split()
newtext = ' '.join(tokens)  # join tokens delimited by blank space
print(newtext)

Rain rain go away, I am from spain

### Nested Lists

Add two matrices

In [42]:
matrix = [[1,2,3], [4,5,6]]

for lst in matrix:
    for item in lst:
        print(item)

1
2
3
4
5
6

## List Comprehension

Concise way of creating lists

### Enumerate

In [43]:
# enumerate generates tuple of index and value pairs

for (i, v) in enumerate(["banana", "apple", "pear", "lemon"]):
    print(i, v)

0 banana
1 apple
2 pear
3 lemon

#### Square the numbers of list

In [44]:
numbers = [10, 20, 30]

for i in range(len(numbers)):
    numbers[i] = numbers[i] ** 2

print(numbers)

[100, 400, 900]

In [45]:
numbers = [10, 20, 30]

for index, number in enumerate(numbers):
    numbers[index] = numbers[index] ** 2

print(numbers)

[100, 400, 900]

### Comprehend

In [46]:
num = range(10)
num_list = [x for x in num]
print(num_list)

# list with only odd numbers
num_list = [x for x in num if x % 2 == 1]
print(num_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

### zip: Iterate over multiple lists

In [47]:
# find sum of respective elements
x = [1,2,3]
y = [4,5,6]

print(list(zip(x,y)))

[(1, 4), (2, 5), (3, 6)]

In [48]:
result = [x+y for x, y in zip(x,y)]
print('x + y = ', result)

x + y =  [5, 7, 9]

### map

In [49]:
def square(x):
    return x*x

In [50]:
#find square values
square_list = list(map(square, range(10)))
print(square_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### filter

In [51]:
def only_even(x):
    return x%2 == 0

In [52]:
#get only even numbers
flist = list(filter(only_even, range(10)))
print(flist)

[0, 2, 4, 6, 8]

### lambda function - anonymous function without name

In [53]:
# function cube
def cube(y): 
    return y*y*y

In [54]:
print(cube(5))

125

In [55]:
#anonymous function
g = lambda x: x * x * x

In [56]:
print(g(4))

64

### Combining filter and lambda

In [57]:
# get only even numbers, we can avoid only_even() as above
numbers = [1,10, 25, 33, 47, 55, 79, 90, 40]

even_list = list(filter(lambda x: x%2 == 0, numbers))

print(even_list)

[10, 90, 40]

### Combining map and lambda

In [58]:
# square the list of numbers
numbers = [1,2,3,4,5]

square_list = list(map(lambda x: x * x, numbers))

print(square_list)

[1, 4, 9, 16, 25]

### Creating stack and queue using lists

In [59]:
## stack behaviour using lists
stack = []
stack.append(1)
stack.append(2)
stack.append(3)
stack

[1, 2, 3]

In [60]:
stack.pop()  # will remove last element
stack

[1, 2]

In [61]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
print(queue)

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [62]:
queue.popleft()
print(queue)

deque(['John', 'Michael', 'Terry', 'Graham'])

In [63]:
queue.pop()
print(queue)

deque(['John', 'Michael', 'Terry'])

### Walk Through

#### Write a function replace(s, old, new) that replaces all occurrences of old with new in a string s:

1. replace("Mississippi", "i", "I") as "MIssIssIppI" <br>
2. song = "I love spom! Spom is my favorite food. Spom, spom, yum!"  <br>
replace(song, "om", "am") as "I love spam! Spam is my favorite food. Spam, spam, yum!"  <br>
replace(song, "o", "a") as 8 "I lave spam! Spam is my favarite faad. Spam, spam, yum!"  <br>

### Exercises

#### Store student's marks

Create a list that contains 5 marks as float values. Store the marks to a file (remember to convert float to str before writing). Close the file. Then, open the file and print the average mark

#### Student names and their marks

"resultswnames.txt"
Johnny 	8.65
Juan 	9.12
Joseph 	8.45
Stacey 	7.81
Nideen 	8.05
Zack 	7.21
Aaron 	8.31

In [ ]:
# Purpose:  Computes the three highest scores from a text file of student 
#			names and scores. 
# Note: 	Uses split in conjunction with a list.

file_handle = open("resultswnames.txt")
scores = []

for line in file_handle:
	name_score = line.split()
	score = float(name_score[1])
	scores.append(score)
file_handle.close()

scores.sort()
scores.reverse()

for i in range(0, 3):
	print(str(i+1) + ".", scores[i])

#### Weight management program

Write a weight loss program that prompts the user to enter in 7 days of weight values <br>
❖At the end of the program, print out the following:<br>
❖Weight on the first day<br>
❖Weight on the last day<br>
❖Change from the first day to the last day<br>
❖Average weight for the period<br>
❖Highest weight for the period<br>
❖Lowest weight for the period<br>