# Lecture-8 Tuples

Used to group data

### Creating tuples

In [4]:
student = ()  #empty
print(student)

()

In [5]:
student = 1, 'Peter', 'Trichy'  # pack it
print(student)

(1, 'Peter', 'Trichy')

In [19]:
student = (1, 'Peter', 'Trichy')

In [20]:
print(student)

(1, 'Peter', 'Trichy')

In [21]:
student2 = (1,) #comma compulsary
print(student)

(1, 'Peter', 'Trichy')

In [22]:
# indexed by integer value
print(student[1])

Peter

In [23]:
# add item to tuples
student += ('peter@bhc.edu', '9942002764')
print(student)

(1, 'Peter', 'Trichy', 'peter@bhc.edu', '9942002764')

In [25]:
# Immutable, you cannot modify
#student[1] = 'Rex'

In [49]:
temperatures = (40, 39, 40, 38, 35, 36, 41)
#slice it
wed_fri = temperatures[3:6]
print(wed_fri)

(38, 35, 36)

### Tuple Unpacking

In [7]:
(rollno, name, city) = student #equalant to multiple assignment statements

In [8]:
print('Roll No: ', rollno, ' Name: ', name, ' City: ', city)

Roll No:  1  Name:  Peter  City:  Trichy

In [11]:
# swapping values of two variables
a = 10
b = 20
(a, b) = (b, a)
# a, b = b, a
print(a, b)

20 10

### Tuples can return multiple values

In [14]:
import math

def circle_stats(r):
    """ Return (circumference, area) of a circle of radius r """
    circumference = 2 * math.pi * r
    area = math.pi * r * r
    return (circumference, area)

In [20]:
# call it
radius = 10.0
(c, a) = circle_stats(radius)
print('Circumference: %.3f Area: %.3f' %(c,a))

Circumference: 62.832 Area: 314.159

### Tuple items can be tuples too

In [21]:
student = (1, 'Tom', (85, 90, 95))

In [22]:
print(student)

(1, 'Tom', (85, 90, 95))

### function to find average marks

In [29]:
def stud_avg(student):
    
    #unpack it
    roll, name, marks = student
    m1, m2, m3 = marks
    
    avg = (m1+ m2 + m3)/3
    print("Roll No: ", roll, ' Name:', name, ' Average: ', avg)

In [30]:
# call it
stud = (1, 'Sam', (85, 90, 95)) 
stud_avg(stud)

Roll No:  1  Name: Sam  Average:  90.0

### Tuple item can be a list

In [26]:
student = (1, 'Rex', [85, 90, 95])

In [27]:
print(student)

(1, 'Rex', [85, 90, 95])

In [28]:
# double index to access list elements
print(student[2][0])

85

#### Unpack a list

In [54]:
lst = [10,25,75]
m1, m2, m3 = lst # brackets are optional
print(m1, m2, m3)

10 25 75

### Modify stud_avg() to find average for the student tuple

In [35]:
def stud_avg2(student):
    
    #unpack it
    roll, name, marks = student

    total = 0
    for mark in marks:
        total += mark
    
    avg = total / len(marks)
    print("Roll No: ", roll, ' Name:', name, ' Average: ', avg)

In [37]:
# call it
student = (1, 'Rita', [85, 90, 95])
stud_avg2(student)

Roll No:  1  Name: Rita  Average:  90.0

In [38]:
# with many marks
stud2 = (2, 'Sweeta', [85, 90, 95, 80, 75])
stud_avg2(stud2)

Roll No:  2  Name: Sweeta  Average:  85.0

### You can create list of students

In [45]:
students_list = [(1, 'Rita', [85, 90, 95]), 
                 (2, 'Sweeta', [85, 90, 95, 80, 75]),
                 (3, 'Annette', [50, 60, 70, 80])]

In [46]:
print(students_list)

[(1, 'Rita', [85, 90, 95]), (2, 'Sweeta', [85, 90, 95, 80, 75]), (3, 'Annette', [50, 60, 70, 80])]

### Modify stud_avg2() to process the list of students

In [43]:
def stud_avg3(students):
    ''' student is the list of tuples'''
    
    for student in students:
        
        #unpack it
        roll, name, marks = student
        
        total = 0
        for mark in marks:
            total += mark    
            
        avg = total / len(marks)
        print("Roll No: ", roll, ' Name:', name, ' Average: ', avg)

In [47]:
#call it
stud_avg3(students_list)

Roll No:  1  Name: Rita  Average:  90.0
Roll No:  2  Name: Sweeta  Average:  85.0
Roll No:  3  Name: Annette  Average:  65.0

### Comparing tuples

In [50]:
(0, 1, 2) < (0, 3, 4)

True

In [51]:
(0, 10, 2) < (0, 3, 4)

False

In [52]:
(0, 1, 200000) < (0, 3, 4)

True

### Walk Through: Print sorted list based on word length

text = 'hello c fine cpp' <br>
Output (increasing order): <br>
c <br>
cpp <br>
fine <br>
hello <br>

In [60]:
def sort_words(text):
    
    #split words
    words = txt.split()
    t = list()
    
    # append words with their length, t contains set of tuples
    for word in words:
        t.append((len(word), word))
    
    # sort set of tuples in increasing order of length
    #t.sort()
    
    # sort set of tuples in decreasing order
    t.sort(reverse=True)
    
    res = list()
    
    # unpack it
    for length, word in t:
        res.append(word)
    
    print(res)

In [61]:
text = 'but soft what light in yonder window breaks'
sort_words(text)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

### Exercises

"resultswnames.txt"
Johnny 	8.65
Juan 	9.12
Joseph 	8.45
Stacey 	7.81
Nideen 	8.05
Zack 	7.21
Aaron 	8.31

In [2]:
# Purpose:	Sorts the scores and names from the text file.

file_handle = open("resultswnames.txt")

scores = []
names = []

for line in file_handle:
	name, score = line.split()
	names.append(name)
	
	score = float(score)
	scores.append(score)
	
file_handle.close()

scores.sort(reverse = True)
names.sort(reverse = True)

for i in range(0, 3):
	print(str(i+1) + ".", names[i], scores[i])

1. Zack 9.12
2. Stacey 8.65
3. Nideen 8.45